/* heading */
.level1-heading {
  font-size: 2rem;
  line-height: 2.375rem;
}

.level2-heading {
  font-size: 1.75rem;
  line-height: 2.125rem;
}

.level3-heading {
  font-size: 1.5rem;
  line-height: 3.0rem;
}
